body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

#pageLayout {
    display:flex;
}

#LHcolumn {
    font-family: Arial, sans-serif;
    display: flex;
    width: 20vw
}

#sidebar {
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100vh;
    width: 20vw
}

#filesButton {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 16px;
}

#filesButton:hover {
    background-color: #0056b3;
}

#colbtn {
    padding: 10px 15px;
    margin: 0 -15px;
    border: none;
    cursor: pointer;
    width: 20vh;
    text-align: left;
    outline: none;
    font-size: 16px;
}

#colbtn:hover {
    background-color: #0056b3;
}

.dropdown-container {
    display: none;
    background-color: #f1f1f1;
    padding-left: 15px;
}

.dropdown-btn {
    font-weight: bold;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filesList {
    margin-top: 20px;
}

.file-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.file-item button {
    margin-left: 10px;
}
