body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filesList {
    margin-top: 20px;
}

.file-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.file-item button {
    margin-left: 10px;
}
